@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Afacad Flux", sans-serif;
  color: #000000;
  background: linear-gradient(to left top, #213b5e, #4d6f95),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
}

body {
  min-height: 100vh;
}
#root {
  height: 100%;
}

/* Navbar */
.bg-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.evolution-2::before {
  content: "=>";
  position: absolute;
  color: white;
  left: -5%;
  top: 40%;
  bottom: 0;
}
.evolution-3::before {
  content: "=>";
  position: absolute;
  color: white;
  left: -5%;
  top: 40%;
  bottom: 0;
}
